<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtil</title>
</head>
<body>
    <h1>Welcome to the text analyzer . Enter ypur text below </h1>
</body>
<form action="/analyze " method="get" >
    <textarea name="text" style="width: 426px; height: 82px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation 
    <br>
    <input type="checkbox" name="fullcaps"> capitalize text 
    <br>
    <input type="checkbox" name="newline_rm"> New line remover 
    <br>  
    <input type="checkbox" name="space_rm"> Space remover 
    <br>
    <input type="checkbox" name="extraspace_rm"> ExtraSpace remover 
    <br>

    <button type="submit"> Analyzed text</button>
    <br>

</form>
</html>